<div class="row">
  <!-- Burgers not eaten. -->
  <div class="col-md-6">
    <h4 class="text-center headers-fonts">Burgers on the menu!</h4>
    <div>
      {{#each burgers}}
      {{#unless devoured}}
      <form action="burger/eat/{{id}}" method="POST">
        <div class="input-group">
          <li class="form-control">{{id}}.  {{burger_name}}</li>
          <span class="input-group-btn">
            <button class="btn btn-outline-info" type="submit">Eat Dis Burger!</button>
          </span>
        </div>
      </form>
      {{/unless}}
      {{/each}}
    </div>
  </div>

  <!-- Burgers eaten. -->
  <div class="col-md-6">
    <h4 class="text-center headers-fonts">Burgers Eaten.</h4>
    <div>
      {{#each burgers}}
      {{#if this.devoured}}
      <form action="burger/remove/{{id}}" method="POST">
        <div class="input-group">
          <li class="form-control">{{this.id}}.  {{this.burger_name}}</li>
        </div>
      </form>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>